%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Slug:
  = @user.slug

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
