%article.wow.fadeInDown{ "data-wow-delay": ".3s", "data-wow-duration": "500ms"}
  .blog-post-image
    = link_to(image_tag("author/author-bg.jpg", class: "img-responsive"), "")
  .blog-content
    %h2.blogpost-title
      = link_to "#{post.title}", post
    .blog-meta
      %span 
        = time_ago_in_words(post.created_at) 
        ago by
        = link_to "#{post.user}", post.user
      %span
        = link_to "#{post.category}", post.category

    %p
      = post.body
      %br= link_to "Continue Reading", post, class: "btn btn-dafault btn-details"